{% extends "base.html.twig" %}
{% block body %}
    <h1>Ports compatibles</h1>
    <h2>Type de navire: </h2>
    <div class="length: 50%!important">    
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Indicatif</th>
      <th scope="col">Nom</th>
      <th scope="col">Pays</th>
      <th scope="col">Voir</th>
    </tr>
  </thead>
  <tbody>
    {% for type in types %}
    <tr class="table-primary">
      <td>{{ type.id }}</td>
      <td>{{ type.libelle }}</td>
      <td>Ports compatibles</td>
      <td>{{ type.libelle }}</td>
    </tr>
    {% endfor %}
      </tbody>
</table>
    </div>
{% endblock %}